<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PSI 部門員工資料表</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style type="text/css">
	.fieldError{color: red;}
</style>
</head>
<body>
  <div class="container my-2">
    <!-- Header 區 html名稱 :: 標籤名稱 -->
    <div th:include="header :: header"></div>
    <!-- Content 區 th:field = HTML name / value -->
    <h1>新增部門</h1><p/>
    <form action="#" th:action="@{/department/}" 
                     th:object="${department}"
                     th:method="${_method}">
      <div class="form-group">
       <input type="hidden" th:field="*{id}" />
       <label>部門名稱</label>
       <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="請輸入部門名稱" />
      </div>
      <input type="submit" th:value="${_method}" class="btn btn-primary"/>
      <a th:href="@{/department/}" class="btn btn-warning">重置</a>
    </form>
    <p/>
    <h1>部門列表</h1><p/>
    <table border="1" class="table table-striped table-responsive-md">
     <thead>
      <tr>
       <th>序號</th>
       <th>名稱</th>
       <th>員工</th>
       <th>修改</th>
       <th>修改(跳頁)</th>
       <th>刪除</th>
      </tr>
     </thead>
     <tbody>
      <tr th:each="dept : ${departments}">
       <td th:text="${dept.id}"></td>
       <td th:text="${dept.name}"></td>
       <td>
        <span th:each="emp:${dept.employees}">
         <a th:href="@{/employee/{id}(id=${emp.id})}" th:text="${emp.name}"></a>
        </span>
       </td>
       <td>
        <a th:href="@{/department/{did}(did=${dept.id})}" class="btn btn-primary">編輯</a>
       </td>
       <td>
        <a th:href="@{/department/edit/{id}(id=${dept.id})}" class="btn btn-primary">編輯(跳頁)</a>
       </td>
        <td>
        <a th:href="@{/department/delete/{did}(did=${dept.id})}" class="btn btn-danger">刪除</a>        
       </td>
      </tr>
     </tbody>
    </table>
    <div class="fieldError"  th:text="${message}">0</div>
    <!-- Footer 區 -->
     <div th:include="footer :: footer"></div>
  </div> 
</body>
</html>