<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PSI 資料表 關聯圖</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
  <div class="container my-2">
    <!-- Header 區 html名稱 :: 標籤名稱 -->
    <div th:include="header :: header"></div>
    <!-- Content 區 -->
    <h1>PSI 資料表關聯圖</h1>
    <img class="img-fluid" th:src="@{/image/psi_table2.png}">
    <!-- Footer 區 -->
     <div th:include="footer :: footer"></div>
  </div> 
</body>
</html>